.dhrubo-bg-secondary{
    background-color: #264653;
}
.ab-mt-5{
    margin-top: 80px;
}
.cd-ms-5{
    margin-left: -18px;
}
.ef-btn-danger{
    background-color: white;
}
.gh-border-primary{
    border: 5px solid red;
}
.ij-text-warning{
    color: #E76F51;
}
.kl-text-white{
    color: red;
}
.far{
    color: red;
}
